[Unit]
Description=/var/tmp with zram
Conflicts=umount.target
After=local-fs.target
Before=umount.target display-manager.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/zram-init -d2 -text4 -orelatime -m1777 -- 2048 /var/tmp
ExecStop=/usr/sbin/zram-init -d2 -- 0 /var/tmp

[Install]
WantedBy=multi-user.target
