[Unit]
Description=/tmp with zram. Mask tmp.mount if you use this
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/zram-init -d1 -text4 -ostrictatime -m1777 -- 2048 /tmp
ExecStop=/usr/sbin/zram-init -d1 -- 0 /tmp

[Install]
WantedBy=local-fs-pre.target
