# SPDX-License-Identifier: GPL-2.0-only
[Unit]
Description=Mount /var/tmp as zram
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Service]
Type=oneshot
RemainAfterExit=true

# Adapt the maximal size (in MB) and other options to your needs.
# Make sure to avoid collision of devices (-d...) with
# zram_swap.service and zram_tmp.service and
# that num_devices in modprobe.d/zram.conf contains the maximal used number + 1

ExecStart=/sbin/zram-init -d2 -azstd -A "algo=zstd level=3" -text4 -orelatime -m1777 -Lvar_tmp_dir 2048 /var/tmp
ExecStop=/sbin/zram-init -d2 0 /var/tmp

[Install]
WantedBy=local-fs-pre.target
